.instructions__wrapper {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .instructions__wrapper {
    margin: 0 30px;
  }
}

@media (min-width: 1440px) {
  .instructions__wrapper {
    margin: 0 110px;
  }
}

.instructions__title {
  font-family: var(--font-second, inherit);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: var(--color-second, #fa8072);
  margin: 20px 0 40px;
}

@media (min-width: 768px) {
  .instructions__title {
    font-size: 60px;
    line-height: 1;
  }
}
